# Images and Screenshots
*.png
*.jpg
*.jpeg
*.gif

# Local Backups
*.old
*.backup
*.bak

# System / Tool Metadata
.gemini/
.aider/
.amp/
.android/
.antigravity/
.arduinoIDE/
.bun/
.bundler/
.cache/
.chocolatey/
.claude/
.cline/
.codeintel/
.codeium/
.codex/
.config/
.cursor/
.dbus-keyrings/
.docker/
.Epubor_Keys/
.fairies/
.fontconfig/
.fop/
.ftb/
.gemini_CLI/
.gemini-cli/
.gradle/
.local/
.matplotlib/
.ms-ad/
.obs64/
.ollama/
.openjfx/
.plasticity/
.redhat/
.ssh/
.stacher/
.swt/
.tooluniverse/
.VirtualBox/
.void-editor/
.vscode/
.windsurf/
.xmlresolver.org/
# Node modules
node_modules/
package-lock.json

# Environment variables
.env
.env.local
.env.*.local

